body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

header div {
  display: flex;
  padding: 24px;
  justify-content: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}

.logo-studio {
  color: #2e2f42;
}

nav {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}

.navigation-link:hover {
  color: #404bbf;
}

.navigation-link:focus {
  color: #404bbf;
}

.navigation-address {
  font-style: normal;
}

address ul {
  display: flex;
}

.navigation-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.navigation-address-link:hover {
  color: #404bbf;
}

.navigation-address-link:focus {
  color: #404bbf;
}

.section-main-headline {
  background: #2e2f42;
}

.main-headline {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-headline-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.main-headline-button:hover {
  background: #404bbf;
}

.main-headline-button:focus {
  background: #404bbf;
}

.subtitle,
.team-name,
.portfolio-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text,
.team-text,
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.subtitle-hidden,
.subtitle-team,
.subtitle-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-team {
  background: #f4f4fd;
}

.team-list {
  background: #fff;
}

.team-name {
  text-align: center;
}

.team-text {
  text-align: center;
}

.portfolio-list {
  background: #fff;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.footer {
  background: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
